<footer class="footer bg-dark py-3 mt-auto" style="position: fixed; left: 0;bottom: 0;width: 100%;">
    <div class="container">
        <center><span class="text-muted">&copy; Parkify 2021</span></center>
    </div>
</footer>