body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.btn {
  background-color: white;
  margin-left: 1rem;
  padding: 0.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cardItem {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.eachCard {
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgb(190, 189, 189);
  box-shadow: 0 20px 40px -14px rgb(190, 183, 183);
  display: flex; 
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cardContent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cardText {
  flex: 1 1 auto;
  font-size: 0.85rem;
  line-height: 1.5;
}

.startTime{
    padding-bottom: 1rem;
}

.btn{
  margin-bottom:1rem;
}