<!DOCTYPE html>
<html lang="en">
<head>
    <title>Found Garages</title>
    <%- include('../partials/header')%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/alerts')%>
    <br>
    <div class="container">
        <center><h1>Found Garages near you</h1></center><br>

    </div>
</body>
</html>