<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Garages</title>
    <%- include('../partials/header')%>
    <script src="/js/allgarage.js"></script>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <%- include('../partials/alerts')%>
    <h1>New Garages</h1>
    <div class="container">
    <form action="/garage/add" method="POST" enctype="multipart/form-data">
        <input type="text" required name="name" placeholder="Name"><br>
        <input type="text" required name="location" placeholder="Location"><br>
        <select required name="location_cat" placeholder="Location Category">
            <option value="">Location Category</option>
            <option value="nice">Nice</option>
            <option value="outskirts">Outskirts</option>
            <option value="prime">Prime</option>
        </select><br>
        <input type="text" required name="owner" placeholder="Owner"><br>
        <input type="text" required name="size" placeholder="Size"><br>
        <input type="file" name="image" >
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
