<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%- include('../partials/header.ejs') %>  
</head>
<body>
  <%- include('../partials/navbar.ejs')%>
<%- include('../partials/alerts.ejs') %>  
<!-- <h1>Register</h1>
<form action="/users/register" method="POST">
    <input type="text" name="name" placeholder="name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="text" name="phone" placeholder="Phone"><br>
    <input type="text" name="username" placeholder="Username"><br>
    <button type="submit">Submit</button>
</form> -->
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
          <div class="card shadow">
              <img src="/img/coverimg.jpg" alt="" class="card-img-top" />
              <div class="card-body">
                  <h5 class="card-title">Register</h5>
                  <form action="/users/register" method="POST" class="validated-form" novalidate>
                      <div class="mb-3">
                          <label class="form-label" for="name">Name</label>
                          <input class="form-control" type="text" id="name" name="name" required autofocus>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="mb-3">
                          <label class="form-label" for="username">Username</label>
                          <input class="form-control" type="text" id="username" name="username" required autofocus>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="mb-3">
                          <label class="form-label" for="email">Email</label>
                          <input class="form-control" type="email" id="email" name="email" required>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="phone">Phone Number</label>
                        <input class="form-control" type="text" id="phone" name="phone" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                      </div>
                      <div class="mb-3">
                          <label class="form-label" for="password">Password</label>
                          <input class="form-control" type="password" id="password" name="password" required>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <button class="btn btn-success btn-block">Register</button>
                  </form>

              </div>
          </div>
      </div>
  </div>
</div>
</body>
</html>