<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <%- include('../partials/header.ejs') %>  
</head>
<body>
  
<%- include('../partials/alerts.ejs') %>  
<h1>Verify Email</h1>
Email-<%=email%><br>
<form action="/users/verify" method="POST">
    <input type="text" name="otp" placeholder="OTP">
    <button type="submit">Submit</button>

    <a href="/users/verify"><button type="button">Resend OTP</button></a>
</form>
</body>
</html>